/* src/ProductPage.css */
.product-page {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  background-color: #f9f9f9;
  
}

.product-image-container {
  flex: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details-container {
  flex: auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-details-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.product-details-container p {
  font-size: 1.1em;
  margin: 10px 0;
  color: #666;
}
.original-price {
  text-decoration: line-through;
  color: grey;
  font-size: small;
}

.discount-price {
  color: black;
  /* font-weight: bold; */
  font-size:xx-large;
}
.discount-percent {
  color: red
}


.product-details-container p span {
  font-weight: bold;
  color: #333;
}
