/* src/ProductPage.css */
.product-page {
  display: flex;
  flex-direction: row;
  padding: 40px;
  background-color: #f9f9f9;
}

.product-image-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details-container {
  flex: 2;
  padding-left: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-details-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.product-details-container p {
  font-size: 1.1em;
  margin: 10px 0;
  color: #666;
}

.product-details-container p span {
  font-weight: bold;
  color: #333;
}
